.body {
  padding: 1em;

  display: flex;
  flex-direction: column;

  align-self: center;
  justify-items: center;
}

.body .animated {
  padding: 1em;
  margin-top: 20vh;
}

@media only screen and (min-width: 900px) {
  .body .animated {
    width: 60%;
  }
}
