.header {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(5, fit-content);
  text-align: center;

  background-color: black;
}

.item {
  opacity: 1;
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.toggle {
  color: white;
  position: absolute;
  right: 2em;
  top: 2em;
  z-index: 2;
  padding: 1em;
}

.hover {
  z-index: 2;
}
