@import url('https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Scope+One&display=swap');

.main {
    height: 98vh;
    display: grid;
    grid-gap: 1em;
    padding-right: 1em;
    padding-left: 1em;
    grid-template-rows: min-content auto min-content;
}

h1, h2, a {
    font-family: 'Reem Kufi', sans-serif;
    letter-spacing: 4px;
    color: #414141;
    font-weight: lighter;
    text-decoration-line: none;
}

.header-footer {
    font-family: 'Reem Kufi', sans-serif;
    letter-spacing: 4px;
    color: dimgray;
    color: #414141;
    font-weight: lighter;
}

.slim-text {
    font-family: 'Scope One', serif;
    letter-spacing: 0;
}

.cursor {
    cursor: pointer;
}